<style>
    .bd-footer {
        padding: 4rem 0;
        margin-top: 4rem;
        font-size: 85%;
        text-align: center;
        background-color: #f7f7f7;
    }

    .bd-footer a {
        font-weight: 500;
        color: #55595c;
    }

    .bd-footer a:hover {
        color: #0275d8;
    }

    .bd-footer p {
        margin-bottom: 0;
    }

    @media (min-width: 544px) {
        .bd-footer {
            text-align: left;
        }
    }
</style>

<footer class="bd-footer text-muted">
    <div class="container">
        <p>
            Le site <a href="http://okiwi.org">okiwi.org</a> ainsi que le
            <a title="Repositories Github d'Okiwi" href="https://github.com/okiwi">code</a>
            produit par Okiwi sont sous licence <a href="http://www.wtfpl.net/txt/copying/">WTFPL</a>
        </p>
        <p>Image du clavier de Luis Paniagua sur flickr</p>
    </div>
</footer>