<!DOCTYPE html>
<html>
<head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Okiwi Catalyseur d'évènements informatiques">
    <meta name="author" content="Okiwi">
    <link rel="shortcut icon" href="/img/favicon.png">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/okiwi.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <a href="/"><img src="/img/okiwi.png" alt="Logo Okiwi"/></a>
        <a href="/">
            <div id="title">
                <h3>Association Okiwi</h3>
                <h5>Catalyseur d'évènements informatiques</h5>
            </div>
        </a>
        <ul id="menu" class="nav nav-pills pull-right">
            <li>
                <a href="https://www.google.com/calendar/embed?src=emrdkvvu6iuqkp6g2etjp5295g@group.calendar.google.com">
                    <i class="fa fa-calendar fa-lg"></i> AGENDA
                </a>
            </li>
            <li>
                <a href="/association/"><i class="fa fa-users fa-lg"></i> L'ASSOCIATION</a>
            </li>
            <li>
                <a href="https://groups.google.com/forum/?hl=fr&amp;fromgroups#!forum/okiwi">
                    <i class="fa fa-comments fa-lg"></i> DISCUSSIONS
                </a>
            </li>
            <li>
                <a href="http://twitter.com/okiwi_fr">
                    <i id="github" class="fa fa-github fa-lg"></i> CODE
                </a>
            </li>
            <li>
                <a href="http://twitter.com/okiwi_fr">
                    <i id="twitter" class="fa fa-twitter fa-lg"></i> TWITTER
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/u/0/communities/110003801009461308694">
                    <i id="google-plus" class="fa fa-google-plus-square fa-lg"></i> GOOGLE +
                </a>
            </li>

        </ul>
    </header>
</div>

<br/>

<div class="container">
    {{content}}
    <div class="row">
        <div class="col-lg-12 text-center">
            <br/>

            <p>
                Le site <a href="http://okiwi.org">okiwi.org</a> ainsi que le <a
                    href="https://github.com/okiwi">code</a>
                produit par Okiwi est sous licence <a href="http://www.wtfpl.net/txt/copying/">WTFPL</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>